@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<input type="text" name="username" placeholder="username" />

<input type="password" name="password" placeholder="password" />
<button> Login</button>

<button>Create Account</button>

<p>Use this area to provide additional information.</p>
